alabaster==0.7.12
appdirs==1.4.4
application-utility==1.3.2
arandr==0.1.10
asn1crypto==1.4.0
attrs==20.3.0
Automat==20.2.0
Babel==2.9.0
bauh==0.9.15
Beaker==1.11.0
btrfsutil==5.11.1
CacheControl==0.12.6
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
constantly==15.1.0
contextlib2==0.6.0.post1
cryptography==3.4.7
deluge==2.0.4.dev38
distlib==0.3.1
distro==1.5.0
dnspython==1.16.0
docopt==0.6.2
docutils==0.16
GeoIP==1.3.2
gufw==21.4.0
gunicorn==20.1.0
html5lib==1.1
hyperlink==21.0.0
idna==3.1
imagesize==1.2.0
incremental==21.3.0
Jinja2==2.11.3
lensfun==0.3.95
LibAppArmor==3.0.1
louis==3.17.0
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==1.1.1
msgpack==1.0.2
netsnmp-python==1.0a1
npyscreen==4.10.5
ordered-set==4.0.2
packaging==20.9
pacman-mirrors==4.21.0
pep517==0.10.0
Pillow==8.1.2
ply==3.11
progress==1.5
psutil==5.8.0
pyaml==20.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.0
pycparser==2.20
Pygments==2.8.1
PyGObject==3.40.0
PyHamcrest==1.9.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-sip==12.8.1
pysmbc==1.0.23
python-dateutil==2.8.1
python-libtorrent==1.2.11
python-xapp==2.0.2
python-xlib==0.29
pytz==2021.1
pyxdg==0.27
PyYAML==5.4.1
ranger-fm==1.9.3
rencode==1.0.6
reportlab==3.5.66
requests==2.25.1
resolvelib==0.5.4
retrying==1.3.3
service-identity==18.1.0
setproctitle==1.2.2
six==1.15.0
snowballstemmer==2.1.0
speedtest-cli==2.1.3
Sphinx==3.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
team==1.0
toml==0.10.2
Twisted==21.2.0
ueberzug==18.1.9
ufw==0.36
urllib3==1.26.4
webencodings==0.5.1
zope.interface==5.3.0
