body {
  margin: auto;
  max-width: 90%;
  margin-top: 10px;
  background-color: #05121c;
  color: white;
}

a:link {
  color: #8bb4f7;
}

a:visited {
  color: #9fc0f5;
}

a.admin:link {
  color: #f73441;
}

a.admin:visited {
  color: #f73441;
}

#error {
  color: red;
}

#success {
  color: green;
}