body {
  margin: auto;
  max-width: 90%;
  margin-top: 10px;
  background-color: #05121c;
  color: white;
}

a:link {
  color: #8bb4f7;
  text-decoration: none;
}

a:visited {
  color: #9fc0f5;
  text-decoration: none;
}

a:hover {
  color: #8bb4f7;
  text-decoration: underline;
}

a.admin:link {
  color: #f73441;
}

a.admin:visited {
  color: #f73441;
}

.error {
  color: red;
}

.success {
  color: green;
}

.menu {
  width: 300px;
}

.secondary {
  color: #437175;
}

a.secondary {
  color: #437175;
}