{% extends "layout.html" %}
{% block title %}Countries{% endblock %}
{% block content %}

<h3>Countries</h3>

<p><b>Status: </b>
{% if count == 193 %}<span class="success">List created, {{ count }} / 193 countries in database</span>
{% elif count == 0 %}<span class="error">Ready to create list, {{ count }} / 193 countries in database</span>
{% else %}<span class="error">If you see this text, something went wrong...</span>
{% endif %}</p>

{% if count == 0 %}
<p>Use this button to generate a list of countries to be used by the application.
<br>Please note that you can only press the button once.</p>

<form action="/countries" method="post">
    <input type="submit" name="create" value="Create!" />
</form>
{% endif %}

{% endblock %}