{% extends "layout.html" %}
{% block title %}Film{% endblock %}
{% block content %}

{% for detail in details %}

<h2>{{ detail[1] }}</h2>
<p>
{{ detail[2] }}
</p>
<p>
<span class="detail">Year </span>- {{ detail[3] }}
<br>
<span class="detail">Country </span>- {{ detail[4] }}
<br>
<span class="detail">Language </span>- {{ detail[5] }}
<br>
<span class="detail">Genre </span>- {{ detail[6] }}
<br>
<span class="detail">Director </span>- {{ detail[7] }}
<br>
<span class="detail">Screenwriter </span>- {{ detail[8] }}
</p>

{% if session.is_admin %}
<p><b>Admin options: </b><a class="admin" href="/">[Edit]</a> <a class="admin" href="/delete/{{ detail[0] }}">[Delete]</a></p>
{% endif %}

{% endfor %}

<h3>Reviews</h3>

{% if session.user_id %}
<p><a href="/film/{{ id }}/new_review">Add new review</a></p>
{% endif %}

{% for review in reviews %}
<div class="container">
<p>Submitted by <b>{{ review[0] }}</b> 
<br><span class="secondary">{{ review[3] }}</span></p>
{% if review[2] < 4 %}
<p class="grade" id="bad">{{ review[2] }}</p>
{% elif review[2] < 7 %}
<p class="grade" id="neutral">{{ review[2] }}</p>
{% elif review[2] < 10 %}
<p class="grade" id="good">{{ review[2] }}</p>
{% else %}
<p class="grade" id="perfect">{{ review[2] }}</p>
{% endif %}
<p>{{ review[1] }}</p>
</div>
{% endfor %}

{% endblock %}