{% extends "layout.html" %}
{% block title %}Film{% endblock %}
{% block content %}

{% for detail in details %}

{% if session.is_admin %}
<p><b>Admin options: </b><a class="admin" href="/">[Edit]</a> <a class="admin" href="/delete/{{ detail[0] }}">[Delete]</a></p>
{% endif %}

<h2>{{ detail[1] }}</h2>
<p>
{{ detail[2] }}
</p>
<p>
<b>Year: </b> {{ detail[3] }}
<br>
<b>Country:</b> {{ detail[4] }}
<br>
<b>Language:</b> {{ detail[5] }}
<br>
<b>Genre:</b> {{ detail[6] }}
<br>
<b>Director:</b> {{ detail[7] }}
<br>
<b>Screenwriter:</b> {{ detail[8] }}
</p>
{% endfor %}

<hr>
<h3>Reviews</h3>

{% if session.user_id %}
<p><a href="/film/{{ id }}/new_review">Add new review</a></p>
{% endif %}

{% for review in reviews %}
<p>
<b>Submitted by</b> {{ review[0] }} <span class="secondary">({{ review[3] }})</span>
<br>
<b>Grade:</b> {{ review[2] }}
<br>
<b>Review:</b> {{ review[1] }}
</p>
{% endfor %}

{% endblock %}