{% extends "layout.html" %}
{% block title %}Front page{% endblock %}
{% block content %}

{% if session.is_admin %}
<h2>Admin panel</h2>
<p>> <a href="/new_film">Add new film</a></p>
<p>> <a href="/films">Manage films</a></p>
<p>> <a href="/countries">Create country list</a></p>
{% endif %}

<h2>Films</h2>
<p>Get started by choosing a film</p>

<p><form action="/sort" method="get">
    <select name="sort-by">
        <option value="0" selected>Default (A to Z)</option>
        <option value="1">Highest rated first</option>
        <option value="2">Lowest rated first</option>
        <option value="3">Newest first</option>
        <option value="4">Oldest first</option>
    </select>
    <input type="submit" value="Sort">
</form></p>

<p><form action="/search" method="get">
    <input type="text" placeholder="Search film by name" name="query">
    <input type="submit" value="Search">
</form></p>

{% for film in films %}

<div class="container">
<div class="average-grade">
{% if film[7] == 0 %}
<span class="grade" id="not-graded">{{ film[7] }}</span>
{% elif film[7] < 4 %}
<span class="grade" id="bad">{{ film[7] }}</span>
{% elif film[7] < 7 %}
<span class="grade" id="neutral">{{ film[7] }}</span>
{% elif film[7] < 10 %}
<span class="grade" id="good">{{ film[7] }}</span>
{% elif film[7] == 10 %}
<span class="grade" id="perfect">{{ film[7] }}</span>
{% endif %}
</div>
<div class="film-details">
<a href="/film/{{ film[0] }}">{{ film[2] }}</a> <span class="secondary">({{ film[4] }})</span>
<img src="https://www.countryflags.io/{{ film[6] }}/flat/16.png" title="{{ film[5] }}" >
<br>
{{ film[3] }}
</div>
</div>
{% endfor %}

{% endblock %}