{% extends "layout.html" %}
{% block title %}Front page{% endblock %}
{% block content %}

{% if session.is_admin %}
<h2>Admin panel</h2>
<p>> <a href="/new_film">Add new film</a></p>
<p>> <a href="/films">Manage films</a></p>
<p>> <a href="/countries">Create country list</a></p>
{% endif %}

<h2>Films</h2>
<p>Get started by choosing a film</p>

{% for film in films %}

<div class="container">
<div class="average-grade">
{% if film[5] == 0 %}
<span class="grade" id="not-graded">{{ film[5] }}</span>
{% elif film[5] < 4 %}
<span class="grade" id="bad">{{ film[5] }}</span>
{% elif film[5] < 7 %}
<span class="grade" id="neutral">{{ film[5] }}</span>
{% elif film[5] < 10 %}
<span class="grade" id="good">{{ film[5] }}</span>
{% elif film[5] == 10 %}
<span class="grade" id="perfect">{{ film[5] }}</span>
{% endif %}
</div>
<div class="film-details">
<a href="/film/{{ film[0] }}">{{ film[2] }}</a> <span class="secondary">({{ film[4] }})</span>
<br>
{{ film[3] }}
</div>
</div>
{% endfor %}

{% endblock %}