<!DOCTYPE html>
<link rel="stylesheet" href="/static/main.css">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<title>Film review app - {% block title %}{% endblock %}</title>
<p><a href="/">Front page</a> | <a href="/statistics">Statistics</a> | 
{% if session.user_id %}Logged in as <b>{{ session["username"] }}</b>
<a href="/logout" class="secondary">(Log out)</a>
{% else %}
<a href="/login">Log in</a> or <a href="/register">Register</a>
{% endif %}</p>

<hr class="divider">
{% block content %}{% endblock %}