{% extends "layout.html" %}
{% block title %}Add new review{% endblock %}
{% block content %}

<h3>Add new review</h3>

<p>You are adding a new review for the film <b>{{ name }}</b>.
<br>Please choose a grade and write a short review below.</p>

<form action="/film/{{ id }}/new_review" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <p>Grade: <br>
        <select name="grade">
            {% for n in range(1,11) %}
            <option value="{{ n }}" selected>{{ n }}</option>
            {% endfor %}
        </select>
    </p>
    <p>Review: <br>
    <textarea name="content" rows="15" cols="60"></textarea>
    </p>
    <input type="submit" value="Submit">
</form>

{% endblock %}