{% extends "layout.html" %}
{% block title %}Add new film{% endblock %}
{% block content %}

<h3>Add new film</h3>

<p>Please enter details about the film.</p>
<p>Tip: <a href="https://www.imdb.com/">IMDb</a> is a great source for this information!</p>

<form action="/new_film" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <p>Name: <br>
    <input type="text" name="name" placeholder="Name" maxlength="50"></p>
    <p>Description: <br>
    <textarea name="description" placeholder="Description" maxlength="500" rows="4" cols="45" class="menu"></textarea></p>
    <p>Year: <br>
    <input type="number" name="year" min="1888" max="2021" placeholder="Year" size="7"></p>
    <p>Country: <br>
        <select name="country_id" class="menu">
            <option value="-1" disabled selected>Select country</option>
            {% for country in countries %}
            {% if country[0] == 3 %}<optgroup label="Africa">{% endif %}
            {% if country[0] == 1 %}<optgroup label="Asia">{% endif %}
            {% if country[0] == 2 %}<optgroup label="Europe">{% endif %}
            {% if country[0] == 6 %}<optgroup label="North America">{% endif %}
            {% if country[0] == 7 %}<optgroup label="South America">{% endif %}
            {% if country[0] == 9 %}<optgroup label="Oceania">{% endif %}
            <option value="{{ country[0] }}">{{ country[1] }}</option>
            {% if country[0] == 193 or country[0] == 191 or country[0] == 184 or 
                  country[0] == 185 or country[0] == 189 or country[0] == 188 %}
            </optgroup>
            {% endif %}
            {% endfor %}
        </select></p>
    <p>Language: <br>
        <select name="language_id" class="menu">
            <option value="-1" disabled selected>Select language</option>
            <option value="0">New language</option>
            {% for language in languages %}
            <option value="{{ language[0] }}">{{ language[1] }}</option>
            {% endfor %}
        </select>
    <input type="text" name="new_language" placeholder="New language"></p>
    <script>
        var language = document.getElementsByTagName("select")[1];
        language.onchange=function() {
            if (language.value === "0") {
                document.getElementsByTagName("input")[2].style.display="inline";
            } else {
                document.getElementsByTagName("input")[2].style.display="none";
            }
        }
    </script>
    <p>Genre: <br>
        <select name="genre_id" class="menu">
            <option value="-1" disabled selected>Select genre</option>
            <option value="0">New genre</option>
            {% for genre in genres %}
            <option value="{{ genre[0] }}">{{ genre[1] }}</option>
            {% endfor %}
        </select>
    <input type="text" name="new_genre" placeholder="New genre"></p>
    <script>
        var genre = document.getElementsByTagName("select")[2];
        genre.onchange=function() {
            if (genre.value === "0") {
                document.getElementsByTagName("input")[3].style.display="inline";
            } else {
                document.getElementsByTagName("input")[3].style.display="none";
            }
        }
    </script>
    <p>Director: <br>
        <select name="director_id" class="menu">
            <option value="-1" disabled selected>Select director</option>
            {% for director in directors %}
            <option value="{{ director[0] }}">{{ director[1] }}</option>
            {% endfor %}
        </select>
    Add new director <a href="/new_director">here</a></p>
    <p>Screenwriter: <br>
        <select name="screenwriter_id" class="menu">
            <option value="-1" disabled selected>Select screenwriter</option>
            {% for screenwriter in screenwriters %}
            <option value="{{ screenwriter[0] }}">{{ screenwriter[1] }}</option>
            {% endfor %}
        </select>
    Add new screenwriter <a href="/new_screenwriter">here</a></p>
    <input type="submit" value="Submit">
</form>

{% endblock %}