{% extends "layout.html" %}
{% block title %}Add new film{% endblock %}
{% block content %}

<h3>Add new film</h3>

<p>Please enter details about the film.</p>

<form action="/new_film" method="post">
    <p>Name: <br>
    <input type="text" name="name"></p>
    <p>Description: <br>
    <input type="text" name="description"></p>
    <p>Year: <br>
    <input type="number" name="year" min="1888" max="2021"></p>
    <p>Country: <br>
        <select name="country_id">
            {% for country in countries %}
            <option value="{{ country[0] }}">{{ country[1] }}</option>
            {% endfor %}
        </select>
    <p>Language: <br>
    <input type="text" name="language"></p>
    <p>Genre: <br>
    <input type="text" name="genre"></p>
    <p>Director: <br>
    <input type="text" name="director"></p>
    <p>Screenwriter: <br>
    <input type="text" name="screenwriter"></p>
    <input type="submit" value="Submit">
</form>

{% endblock %}