{% extends "layout.html" %}
{% block title %}Add new director{% endblock %}
{% block content %}

<h3>Add new director</h3>

<p>Please enter details about the director.</p>

<form action="/new_director" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <p>Name: <br>
    <input type="text" name="name" placeholder="Name" maxlength="50"></p>
    <p>Description: <br>
    <textarea name="description" placeholder="Description" maxlength="500" rows="4" cols="45" class="menu"></textarea></p>
    <p>Country: <br>
        <select name="country_id" class="menu">
            <option value="-1" disabled selected>Select country</option>
            {% for country in countries %}
            {% if country[0] == 3 %}<optgroup label="Africa">{% endif %}
            {% if country[0] == 1 %}<optgroup label="Asia">{% endif %}
            {% if country[0] == 2 %}<optgroup label="Europe">{% endif %}
            {% if country[0] == 6 %}<optgroup label="North America">{% endif %}
            {% if country[0] == 7 %}<optgroup label="South America">{% endif %}
            {% if country[0] == 9 %}<optgroup label="Oceania">{% endif %}
            <option value="{{ country[0] }}">{{ country[1] }}</option>
            {% if country[0] == 193 or country[0] == 191 or country[0] == 184 or 
                  country[0] == 185 or country[0] == 189 or country[0] == 188 %}
            </optgroup>
            {% endif %}
            {% endfor %}
        </select></p>
    <input type="submit" value="Submit">
</form>

{% endblock %}