{% extends "layout.html" %}
{% block title %}Statistics{% endblock %}
{% block content %}

<h3>Statistics</h3>

<table>
    <tr>
        <td>Users</td>
        <td>{{ users }}</td>
    </tr>
    <tr>
        <td>Admins</td>
        <td>{{ admins }}</td>
    </tr>
    <tr>
        <td>Most active user</td>
        <td>{{ most_active }}</td>
    </tr>
    <tr>
        <td>Films</td>
        <td>{{ films }}</td>
    </tr>
    <tr>
        <td>Reviews</td>
        <td>{{ reviews }}</td>
    </tr>
    <tr>
        <td>Highest rated film</td>
        <td>{{ highest }}</td>
    </tr>
    <tr>
        <td>Lowest rated film</td>
        <td>{{ lowest }}</td>
    </tr>
    <tr>
        <td>Average grade</td>
        <td>{{ average }}</td>
    </tr>
</table>

{% endblock %}