{% extends "layout.html" %}
{% block title %}Manage users{% endblock %}
{% block content %}

<h3>Manage users</h3>

<p>Here you can see all relevant information about registered users and take administrative actions.</p>

<table>
    <tr>
        <td><b>Id</b></td>
        <td><b>User</b></td>
        <td><b>Rank</b></td>
        <td><b>Status</b></td>
        <td><b>Actions</b></td>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user[0] }}</td>
        <td>{{ user[1] }}</td>
        {% if user[2] == 1 %}
        <td>Administrator</td>
        {% else %}
        <td>User</td>
        {% endif %}
        {% if user[3] == 1 %}
        <td>Banned</td>
        {% else %}
        <td>Unbanned</td>
        {% endif %}
        {% if user[2] == 0 %}
        <td>
        {% if user[3] == 0 %}
        <a class="positive" href="/promote/{{ user[0] }}">[Promote]</a>
        {% endif %}
        {% if user[3] == 0 %}
        <a class="negative" href="/ban/{{ user[0] }}">[Ban]</a>
        {% else %}
        <a class="positive" href="/unban/{{ user[0] }}">[Unban]</a>
        </td>
        {% endif %}
        {% endif %}
    </tr>
    {% endfor %}
</table>

{% endblock %}